@font-face {
  font-family: 'Raleway';
  src: url("./Raleway-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Raleway-semibold';
  src: url("./Raleway-SemiBold.ttf") format("truetype"); }

@font-face {
  font-family: 'Raleway-bold';
  src: url("./Raleway-Bold.ttf") format("truetype"); }
