@font-face {
  font-family: "Material Design Icons";
  src: url("./materialdesignicons-webfont.eot?v=2.0.46");
  src: url("./materialdesignicons-webfont.eot?#iefix&v=2.0.46") format("embedded-opentype"),
       url("./materialdesignicons-webfont.woff2?v=2.0.46") format("woff2"),
       url("./materialdesignicons-webfont.woff?v=2.0.46") format("woff");
  font-weight: normal;
  font-style: normal;
}
