@font-face {
    font-family: 'Raleway';
    src: url('../assets/fonts/Raleway-Regular.ttf')  format('truetype');
}

@font-face {
    font-family: 'Raleway-semibold';
    src: url('../assets/fonts/Raleway-SemiBold.ttf')  format('truetype');
}

@font-face {
    font-family: 'Raleway-bold';
    src: url('../assets/fonts/Raleway-Bold.ttf')  format('truetype');
}
