* {
  box-sizing: border-box;
}

body {
  color: #000;
  font-family: 'Raleway', 'Helvetica', 'sans-serif';
  text-align: center;
  margin: 0;
  font-size: 11pt;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

section {
  padding: 70px 0 90px;
  color: #616161;
  position: relative;
  line-height: 12pt;

  &.section {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
  }
}

a {
  color: inherit;
  text-decoration: none;

  &.active {
    color: green;
  }
}

.header {
  font-size: 25pt;
  font-family: "Raleway-bold";
  position: relative;
  color: #444649;
  margin: 0;
}

.header-bar {
  margin: 25px 0 50px;
  width: 70px;
  height: 4px;
  background: #444649;
}
