@import './animations';
@import './base';
@import './format';
@import './variables';

/* ======================= HOME ======================= */

#home {
  background: #1B342F;
  color: #fff;
  padding: 0px;
  height: 100vh;
  line-height: 20pt;

  .header {
    font-family: "Raleway";
    font-size: 17pt;
    font-weight: normal;
    color: white;
    margin: 0 0 20px;
  }

  span {
    color: green;
    font-family: "Raleway-bold";
  }

  .button {
    margin-bottom: 50px;
  }
}

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 0;
}

/* ======================= ABOUT ======================= */

#about-main {
  background-color: white;

  .section {
    padding: 0 10px;
  }

  .feature {
    padding: 0 10px;
    height: 220px;

    .icon {
      margin: auto;
      width: 80px;
      height: 80px;
      font-size: 60pt;
      color: #1B342F;
    }

    p {
      margin: 0 auto;
      font-size: 10pt;
    }
  }

  .tech {
    width:100%;
  }

  .img-wrap {
      margin: 20px 10px;
      height: 80px;
      width: 100%;

      img {
        height:100%;
      }
  }
}

/* ======================= PORTFOLIO ======================= */

#portfolio-main {

  background-color: #f5f5f5;

  .header-bar {
    margin-bottom: 50px;
  }

  .portfolio {
    width: 80%;
    max-width:600px;

    h2 {
      font-weight: 600;
    }

    a {
      min-width:150px;
      width:40%;
      max-width: 400px;
    }

    img {
      width:100%;
      border-radius: 10px;
      margin-top: 25px;
    }
  }
}

/* ======================= CONTACT ======================= */

#contact-main {
  background: #162023;
  color: #fff;

  .header {
    color: #fff;
  }

  .header-bar {
    margin-bottom: 60px;
    background: #fff;
    width: 110px;
  }

  .highlight {
    font-weight: 600;
    color: #04C2C9;
  }

  p {
    font-size: 11pt;
  }

  svg {
    position: absolute;
    top: 0;
    left: 0;
  }

  form {
    margin: 40px auto 0;
    width:92%;
    max-width:500px;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    display: block;
    width: 100%;
    outline: none;
    border: 0;
    border-radius: 5px;
    padding: 10px 15px;
    background: #36544e;
    font-size: 12pt;
    margin-bottom: 3px;
    color: #fff;
  }

  textarea {
    min-height: 150px;
    margin-bottom: 5px;
  }

  .button {
    float: right;
    margin: 5px 0 0;
    font-size: 12pt;
    padding: 10px 30px;
    color: #fff;
    background: transparent;
    outline: 0;
    border-radius: 5px;
  }

  .button:hover {
    background: green;
  }

  #success {
    height: 0;
    width: 100%;
    overflow: hidden;
    position: relative;
    transition: height 0.25s;

    &.expand {
      height: 36px;
    }

    div {
      background: #04c986;
      color: #157051;
      font-size: 10pt;
      font-weight: 600;
      padding: 5px 0;
      border: 1px solid #157c59;
    }
  }

  #close {
    position: absolute;
    padding: 5px 15px;
    font-size: 12pt;
    font-weight: 600;
    right: 0;
    cursor: pointer;
  }
}


/* ======================= FOOTER ======================= */

footer {
  background: #1b342f;
  padding: 70px 0 50px;
  position: relative;
  color: white;

  .mdi-chevron-double-up {
    position: absolute;
    top: -25px;
    background: green;
    font-size: 30pt;
    width: 47px;
    height: 50px;
    line-height: 40pt;
    left: 0;
    right: 0;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 50%;
  }

  .mdi-chevron-double-up:hover {
    background: black;
  }

  .icon-wrap .icon {
    overflow: hidden;
    cursor: pointer;
    width: 55px;
    height: 55px;
    position: relative;
    text-align: center;
    margin: 0 15px;
    background: #162023;
    font-size: 18pt;
    border-radius: 30%;
  }

  .icon-wrap .mdi {
    text-align: center;
    color: #fff;
  }

  .icon-wrap .icon:hover {
    background: green;
    box-shadow: 0 0 0 3px rgba(4, 94, 201, 0.1);
    transform: scale(0.9);
  }

  .icon-wrap .icon:hover .mdi {
    color: #fff;
  }

  .footnote {
    font-size: 10pt;
    color: #8F9AA7;
    margin-top: 35px;
    opacity: 0.6;

    span {
      font-family: 'Open Sans';
      color: green;
    }
  }
}
