/* ======================= RESPONSIVE: IPHONE PLUS (414px) ======================= */

@media screen and (min-width: 414px) {
  #home {
    .header {
      font-size: 18pt;
    }
  }
}

/* ======================= RESPONSIVE: IPAD (768px) ======================= */

@media screen and (min-width: 768px) {
  .col-to-row {
    flex-direction: row;
  }
  #home {
    .header {
      font-size: 22pt;
      line-height: 30pt;
    }
    button {
      padding: 5px 15px;
      font-size: 20pt;
    }
  }
  #about-main {
    p {
      font-size: 14pt;
      line-height: 18pt;
    }
    .img-wrap {
      height: 60px;
    }
  }
}

/* ======================= RESPONSIVE: DESKTOP (900px) ======================= */

@media screen and (min-width: 900px) {
  #home {
    .header {
      font-size: 24pt;
    }
  }
  #about-main {
    .img-wrap {
      height: 70px;
    }
  }
  #portfolio-main {
    .portfolio {
      max-width: 800px;
    }
  }
}

/* ==================== RESPONSIVE: LARGE DESKTOP (1100px) ==================== */

@media screen and (min-width: 1100px) {
  #home {
    .header {
      font-size: 28pt;
    }
  }
  #about-main {
    .img-wrap {
      height: 80px;
    }
  }
  #portfolio-main {
    .portfolio {
      
    }
  }
}
